!!!!!!!!!
! urxvt ! 
!!!!!!!!!
! use 256color
URxvt*termName: rxvt-unicode-256color
! do not scroll with output
URxvt*scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll or shift pgup)
URxvt*scrollWithBuffer: true
! scroll back to bottom on keypress
URxvt*scrollTtyKeypress: true
! safe scroll back buffer for less
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
! font
URxvt.font: xft:monospace:size=11
URxvt.letterSpace: -1

!!!!!!!!!!!!
! settings ! 
!!!!!!!!!!!!
! set dpi
Xft.dpi: 96
*.alpha: 0.95
