* {
  font-family: 'Hurmit Nerd Font';
  font-size: 13px;
}

window {
  margin: 0px;
  border: 1px solid #4078c0;
  background-color: #4078c0;
}

#input {
  margin: 5px;
  border: none;
  color: #333333;
  background-color: #fafafa;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #fafafa;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #fafafa;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #6e5494;
} 

#entry:selected {
  background-color: #6cc644;
}
