* {
    border: none;
    border-radius: 0;
    font-family: "Hurmit Nerd Font Mono";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(1,1,1,0.6);
    color: #9ece6a;
}

#window {
    font-weight: bold;
    font-family: "Mono";
}
/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #9ece6a;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    color: #9ece6a;
    border-top: 2px solid #9ece6a;
}

#mode {
    background: transparent;
    border-bottom: 3px solid #9ece6a;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 3px;
    margin: 0 2px;
}

#clock {
    font-weight: bold;
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
    /* color: green */
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: #9ece6a;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #9ece6a;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#tray {
}
